@media (min-width: 680px){

    .container {
        /* border: 2px solid #00ff55; */
        height: 100%;
        margin: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header {
        /* border: #2a5c66 2px solid; */
        margin-top: 30px;
        
        p {
            /* border: #2a5c66 2px solid; */
            margin: 0%;
        }

        .descriptor {
            /* border: 2px solid darkgoldenrod; */
            text-align: center;
            margin: 0%;
        }
    }


    .Calculator {
        /* border: #e69721 2px solid; */
        width: 60%;
        height: 56%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 5%;
        gap: 0px;
    }

    
#custom {
    #custom > p{
        width: 100%;
        text-align: center;
        display: none;
    }
    
    #custom_1 {
        display: none;
        position: relative;
        img {
            position: absolute;
            padding-block: 8.9px;
            top: 3px;
            padding-left: 11px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: #b9e7ed;
            display: none;
        }
        #custom_1_Input {
            border-radius: 10px;
            height: 35px;
            background-color: #b9e7ed;
            color: #2a5c66;
            width: 100%;
            height: 40px;
            border-style: none;
            outline: none;
            font-weight: bold;
            font-size: 1.4em;
            text-align: right;
            /* display: none; */
        }
        
        #custom_1_Input::placeholder {
            /* border: 2px solid #89dae5; */
            font-size: 14px;
        }
        #custom_1_Input:focus {
            color: #2a5c66;
            border: 2px solid #89dae5;
        }
    }
    
}
    
    .billBoard{
        width: 49%;
        /* border: #0721df 2px solid; */
        margin: auto;
        margin-top: 30px;
        margin-inline: 10px;
        margin-block: 20px;
        
        /* .billValue { */
            /* border: #15df07 2px solid; */
            /* margin-bottom: 10px; */
            /* label { */
                /* font-size: .92em; */
            /* } */
        /* } */
    }
    
    /* .tip > p {
        margin-top: 0%;
    } */
    
    
    .amount {
        /* border: #00d9ff 2px solid; */
        width: 49%;
        margin-inline: 10px;
        margin-block: 15px;
    }

    footer {
        background-color: rgb(88, 88, 88);
        height: fit-content;
        padding-block: 4px;
        position: fixed;
        bottom: 0%;
        width: 100%;
        
        p {
            text-align: center;
            color: #ffffff;
            margin: 0%;
            
            a {
                color: #0de4bd;
    
            }
        }
    }
}