body {
    /* border: 2px solid #ff0000; */
    background-color: #93e8f3;
    margin: 0px;
    padding: 0%;
    margin: auto;
    height: 100vh;
}

.container {
    /* border: 2px solid #00ff55; */
    /* height: 100%; */
    margin: 0%;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}

.header {
    /* border: #2a5c66 2px solid; */
    margin-top: 30px;
}

header {
    /* border: 2px solid #96c207; */
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-weight: bold;
        font-size: 3em;
        color: #11424b;
        margin: 0%;
    }
}

.descriptor {
    /* border: 2px solid darkgoldenrod; */
    text-align: center;
}

.Calculator {
    /* border: #e69721 2px solid; */
    background-color: white;
    /* height: auto; */
    border-radius: 6% 6% 0% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    margin-top: 20px;
}

.billBoard{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    /* border: #0721df 2px solid; */
    margin: auto;
    margin-top: 30px;
}

.billValue {
    /* display: flex;
    flex-direction: column; */
    
    #billValue {
        /* border: #df078c solid 2px; */
        padding-block: 4px;
        background-color: #b9e7ed;
        display: flex;
        justify-content: space-between;
        padding-inline: 6px;
        border-radius: 7px;

        img {
            width: 24px;
        }
        
        input {
            border-radius: 5px;
            height: 35px;
            width: 84%;
            background-color: #b9e7ed;
            color: #2a5c66;
            font-weight: bold;
            font-size: 1.4em;
            text-align: right;
            border-style: none;
            outline: none;
        }

        input::placeholder {
            opacity: 0;
        }
    }

    label {
        font-size: 1.3em;
        letter-spacing: .131em;
        margin-bottom: 5px;
    }
    
}
.tip{
    width: 100%;
    /* border: #2a5c66 2px solid; */ 
    
}

.tip > p {
    margin-top: 0px;
    /* border: #2a5c66 2px solid; */
}

.percentsBlock {
    /* border: #ff7700 2px solid; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:10px;
}

.percent {
    border: #2a5c66 2px solid;
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 3;
    background-color: #2a5c66;
    color: white;
    
    
    p{
        font-size: 1.43em;
        font-weight: bold;
        margin-inline: 20px;
    }

}

.percent:hover {
    border-color: #49c2d4;
    cursor: pointer;
}

.clicked {
    background-color: #4fcbb4;
    color: black;
}


#custom > p{
    width: 100%;
    text-align: center;
}

#custom_1 {
    border-radius: 10px;
    height: 35px;
    background-color: #b9e7ed;
    width: 100%;
    height: 100%;
    border-style: none;
    outline: none;
    font-weight: bold;
    font-size: 1.4em;
    text-align: right;
    display: none;
}

#custom_1::placeholder {
    /* border: 2px solid #89dae5; */
    font-size: 14px;
}
#custom_1:focus {
    color: #2a5c66;
    border: 2px solid #89dae5;
}

.people{
    width: 100%;
    /* border: #2a5c66 2px solid; */
    
    
    #people {
        /* border: #35d419 2px solid; */
        border-radius: 7px;
        background-color: #b9e7ed;
        display: flex;
        justify-content: space-between;
        padding-inline: 6px;
        padding-block: 4px;
        border-radius: 7px;
        margin-top: 5px;

        img {
            width: 30px;
        }
        
        
    }
}


#people_number {
    border-radius: 5px;
    height: 35px;
    width: 84%;
    background-color: #b9e7ed;
    color: #2a5c66;
    font-weight: bold;
    font-size: 1.4em;
    text-align: right;
    border-style: none;
    outline: none;
}
#people > input::placeholder {
    opacity: 0;
}

.warning {
    background: #f9d8d8 !important;
    border-radius: 7px;
    /* background-color: #b9e7ed; */
    display: flex;
    justify-content: space-between;
    padding-inline: 6px;
    padding-block: 4px;
    border-radius: 7px;
    

    /* img {
        width: 30px;
    } */
}

.warning > input {
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    height: 44px;
    width: 84%;
    background: #f9d8d8 !important;
    color: #2a5c66;
    font-weight: bold;
    font-size: 1.4em;
    text-align: right;
    border-style: none;
    outline: none;
}



.warning > input::placeholder {
    color: red;
    font-size: .7em;
    opacity: 1 !important;
}

.amount {
    border: #11424b 2px solid;
    background-color: #11424b;
    color: white;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding-block: 20px;
    margin-bottom: 20px;

    span {
        color: #86a1a6;
    }

    .perPerson {
        /* border: 2px solid darkblue; */
        display: flex;
        justify-content: space-between;
        padding-inline: 6px;
        width: 80%;
        margin: auto;
        padding-block: 4px;
        
        p {
            /* border: 2px solid rgb(3, 254, 103); */
            margin: 0%;
            font-size: 1.13em;
            letter-spacing: 2px;
        }

        input {
            border-radius: 5px;
            height: 35px;
            width: 44%;
            background-color: #11424b;
            color: #0de4bd;
            font-weight: bold;
            font-size: 1.4em;
            text-align: right;
            border-style: none;
            outline: none;
        }
    }

    button {
        /* border: #ffffff 2px solid; */
        width: 80%;
        height: 45px;
        color: #11424b;
        background-color: #0de4bd;
        margin: 0%;
        margin: auto;
        border-radius: 10px;
        font-size: 1.3em;
        font-weight: 600;
    }

    button:hover {
        cursor: pointer;
    }
}

footer {
    background-color: rgb(88, 88, 88);
    height: fit-content;
    padding-block: 4px;
    
    p {
        text-align: center;
        color: #ffffff;
        margin: 0%;
        
        a {
            color: #0de4bd;

        }
    }
}